@font-face {
   font-family: BeloidGothic;
   src: url("BeloidGothic-Regular.woff");
}

body {
  background-color: #594e2a;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

h1 {
margin-top: 5px;
text-align: center;
/* font-family: 'Kumar One', cursive; */
/* font-family: 'Kumar One Outline', cursive; */
font-family: BeloidGothic;
font-size: 40px;
color: #fff8eb;
letter-spacing: 0.09em;
text-transform: uppercase;
/* color: #953231; */
}

.bigLetter{
  font-size: 65px;
  letter-spacing: 0.11em;
}

p{
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 25px;
  font-family: BeloidGothic;
  /* font-family: 'Kumar One Outline', cursive; */
  /* color: #953231; */
  /* color: #3a2e20; */
  color: black;
  line-height: 0.8em
}


img{
  width: 160px;
  width: 10%;
  margin-top: -200px;
}

.flag1{
  /* position: relative;
  margin-left: 150px; */

  position: absolute;
  top: 200px;
  left: 150px;
}

.flag2{
  position: absolute;
  top: 200px;
  right: 150px;
}

.question{
  color: #e25042;
  font-family: BeloidGothic;
  font-size: 90px;
  /* position: relative;
  margin-top: 100px;
  margin-left: -300px; */
  position: absolute;
  /* margin-top: 350px;
  margin-left: 490px; */
  left: 0; */
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}

.show{
  color: black;
  font-family: BeloidGothic;
  font-size: 15px;
  position: absolute;
  margin-top: 335px;
  margin-left: 1000px;
}

h3{
  line-height: 7px;
}

.container1{
  font-family: BeloidGothic;
  font-size: 35px;
  text-align: center;
  position: absolute;
  /* margin-top: 100px;
  margin-left: 650px; */
  left: 0;
  margin-top: 110px;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;

}
.instructions {
  position: absolute;
  /* margin-left: 1000px;
  margin-top: 100px; */
  /* display: flex;
  flex-direction: column; */

  left: 0; */
  position: absolute;
  text-align: center;
  top: 39%;
  width: 100%;

}
.wrap {
  text-align: center;
}

button {
  color: #ffcf48;
  text-align: left;
  font-family: BeloidGothic;
  font-size: 35px;
  text-transform: uppercase;
  /* color:black; */
  background:none;
  border:none;
  outline:none;
  margin:0;
  cursor: pointer;
  padding-top: 5px;
  padding-left:7px;
  padding-right:7px;
  /* padding-bottom: 3px; */
}

button:hover{
  font-style: italic;
  /* color: #edbb55; */
  text-decoration: underline;

}

.container {
  display: inline-block;
  width: 40%;
}

.listEpisodes {
  color: black;
  background-color: salmon;
}

@media only screen and (max-width: 900px) {
  .question{
    font-size: 100px;
  }
  .instructions{
    top: 50%;
  }

  button{
    font-size: 25px;
  }
  .container1{
    top: 40%;
  }

}

@media only screen and (max-width: 780px) {
  img{
    display:none;
  }

}

@media only screen and (max-width: 600px) {
  .question{
    font-size: 80px;
  }
  .instructions{
    top: 45%;
  }

  button{
    font-size: 25px;
  }

  img{
    display:none;
  }

}
